body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.restaurant_info, .restaurant_info li, .add_favorite, .map {
  position: relative;
  z-index: 100;
}
