<h1><%= @restaurant.name %></h1>
 
 <p>
   Author: <%= @restaurant.address %>
 </p>
 
 <p>
    <%= @restaurant.price_range %> 
 </p>
 

    <%if current_user.restaurants.find_by(id: @restaurant.id )%>
      <p> <a class = "btn disabled">Favorited!</a>
    <%else%> 
      <p> <a href="/restaurants_users/<%= @restaurant.id %>" class = "waves-effect waves-light btn">Add to Favorites!</a></p>
       <hr/>
    <%end%>

 <a href="/">Back to Home Page</a>
