<h1><%= @restaurant.name %></h1>
 
 <p>
   Author: <%= @restaurant.address %>
 </p>
 
 <p>
    <%= @restaurant.price_range %> 
 </p>
 
<p> <a href="/restaurants_users/<%= @restaurant.id %>" class = "button">Add to Favorites!</a></p>

 <hr/>
 <a href="/">Back to Home Page</a>
