<center>
<div class="container" style="padding-top: 10%; padding-bottom: 5%">
 <h3> I'm craving...</h3>
  <form method="get" action="/restaurants/foodimize">
    <div class="row">
        <div class="input-field col s12">
          <input name="search_tag" type="text" placeholder="cake, ice cream, bubble tea, etc...">
        </div>
     </div>
   <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" value="foodimize">Foodimize!</button>
    </div>
   </div> 
  </form>
</div>
</center>




