<center>
<div class="container">
      I want to eat...

      <form method="get" action="/restaurants/search">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">cupcakes, icecream, etc...</i></label>

        </div>
      </form>


<<<<<<< HEAD
<p> <a href="/restaurants/foodimize" class = "button">Foodimize!</a></p>
=======



<p> <a href="/restaurants/foodimize" class = "waves-effect waves-light btn">Foodimize!</a></p>
</center>
</div>
>>>>>>> origin/foodivizer102
