<center>
<div class="container">
      I want to eat...

      <form method="get" action="/restaurants/foodimize">
        <div class="row">
          <div class="input-field col s12">
            <input name="search_tag" type="text" placeholder="cake, ice cream, etc...">
          </div>
         </div>
       <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" value="foodimize">Foodimize!</button>
        </div>
       </div> 
      </form>
</center>
</div>
