<center>
<div class="container">

     <h3> I want to eat...</h3>

      <form method="get" action="/restaurants/search">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">cupcakes, icecream, etc...</i></label>

        </div>
      </form>





<p> <a href="/restaurants/foodimize" class = "waves-effect waves-light btn">Foodimize!</a></p>
</center>

</div>
