<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/materialize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/materialize.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Foodimizer</title>
</head>
<body>
   <nav>
      <div class="nav-wrapper pink darken-2">
        <a href="/" class="brand-logo center"><img src="http://i.imgur.com/G95Diix.png" style="height: 50px; float: left"> Foodimizer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if not_signed_in? %>
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/signup">Sign Up</a></li>
            <% else %>
              <li><span style="padding-right: 1em">Welcome, <%=current_user.username %>!</span></li>
              <li><a href="/users/favorites">My Favorites&hearts;</a>
              <li><a href="/users/logout">Logout</a></li>
            <% end %>
        </ul>
      </div>
    </nav> 
<main>
  <%= yield %>
</main>
 <footer class="page-footer pink darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><img src="http://i.imgur.com/G95Diix.png" style="height: 130px; float: left; margin-right: 1em"> </h5>
          <span class="grey-text text-lighten-4">
            Easily discover your new favorite dessert stops with Foodimize. 
            <br><br>Contact us at 
            <br>contact@foodimize.com | 46 Spadina Avenue, Toronto
          </span>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">discover more </h5>
          <a href='#!'><img src="http://storage.googleapis.com/instapage-user-media/1570640-0-facebookwhite.png" height="10%" width="10%"></a>
          <a href="#!"><img src="http://actualseomedia.com/wp-content/uploads/2016/06/instagram_logo.png" height="10%" width="10%"/></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Foodimize
      </div>
    </div>
  </footer>
            
</body>
</html>

